<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post">
        <div>
            <Label>username:</Label> 
            <input type = "text" name="username">
        </div>
        <div>
            <Label>Password:</Label> 
            <input type = "text" name="password">
        </div>
        <div>
            <Label>Email:</Label> 
            <input type = "text" name="email">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>